*
{
	margin: 0;
	padding: 0;
}

html, body
{
	width: 100%;
	height: 100%;
}

body
{
	margin: 0;
	padding: 0;
    color: #484848;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 12px;
    min-width: 900px;
}

h1, h2, h3
{
	margin-top: 0;
}

#content
{
    height: 100%;
    width: 100%;
}

#error
{
    display: none;
    color: lightcoral;
    font-size: 13px;
}

/* Head */

/* Content */
#menu
{
    width: 150px;
}
